lwgpu:
  enabled: 1
  golden_cl: 60395901
  golden_cl_lwstomer: lwgpu_hsmb
  max_time: 24H
  rules_cl: 60393105
  storage: 119000
  task: lwgpu_hsmb_regress_sw
lwgpu_ad102:
  enabled: 1
  golden_cl: 60391601
  golden_cl_lwstomer: lwgpu_ad102_hsmb
  max_time: 24H
  rules_cl: 60390784
  storage: 94000
  task: lwgpu_ad102_hsmb_regress_sw
lwgpu_ad10x:
  enabled: 0
  golden_cl: null
  golden_cl_lwstomer: lwgpu_ad10x_hsmb
  max_time: 24H
  rules_cl: null
  storage: 100G
  task: lwgpu_ad10x_hsmb_regress_sw
lwgpu_ampere_amodel:
  enabled: 1
  golden_cl: 60291624
  golden_cl_lwstomer: lwgpu_ga102_amodel_hsmb
  max_time: 24H
  rules_cl: 60296489
  storage: 6900
  task: lwgpu_ga102_ampere_amodel_hsmb_regress_sw
lwgpu_ga100:
  enabled: 1
  golden_cl: 60302291
  golden_cl_lwstomer: lwgpu_ga100_hsmb
  max_time: 24H
  rules_cl: 60302618
  storage: 55000
  task: lwgpu_ga100_hsmb_regress_sw
lwgpu_ga102:
  enabled: 0
  golden_cl: null
  golden_cl_lwstomer: lwgpu_ga102_hsmb
  max_time: 24H
  rules_cl: null
  storage: 100G
  task: lwgpu_ga102_hsmb_regress_sw
lwgpu_ga10b:
  enabled: 1
  golden_cl: 60298134
  golden_cl_lwstomer: lwgpu_ga10b_hsmb
  max_time: 24H
  rules_cl: 60296489
  storage: 15000
  task: lwgpu_ga10b_hsmb_regress_sw
lwgpu_ga10f:
  enabled: 1
  golden_cl: 60292314
  golden_cl_lwstomer: lwgpu_ga10f_hsmb
  max_time: 24H
  rules_cl: 60284022
  storage: 14000
  task: lwgpu_ga10f_hsmb_regress_sw
lwgpu_ga10y:
  enabled: 0
  golden_cl: null
  golden_cl_lwstomer: lwgpu_ga10y_hsmb
  max_time: 24H
  rules_cl: null
  storage: 25G
  task: lwgpu_ga10y_hsmb_regress_sw
lwgpu_gh100:
  enabled: 1
  golden_cl: 60381143
  golden_cl_lwstomer: lwgpu_gh100_hsmb
  max_time: 24H
  rules_cl: 60380225
  storage: 72000
  task: lwgpu_gh100_hsmb_regress_sw
lwgpu_hopper_amodel:
  enabled: 1
  golden_cl: 60395901
  golden_cl_lwstomer: lwgpu_amodel_hsmb
  max_time: 24H
  rules_cl: 60393105
  storage: 6700
  task: lwgpu_blackwell_amodel_hsmb_regress_sw
lwgpu_ls10:
  enabled: 1
  golden_cl: 60323765
  golden_cl_lwstomer: lwgpu_ls10_hsmb
  max_time: 24H
  rules_cl: 60324125
  storage: 6600
  task: lwgpu_ls10_hsmb_regress_sw
lwgpu_tu104:
  enabled: 1
  golden_cl: 59682135
  golden_cl_lwstomer: lwgpu_tu104_hsmb
  max_time: 24H
  rules_cl: 59850805
  storage: 24000
  task: lwgpu_tu104_hsmb_regress_sw
lwgpu_turing_amodel:
  enabled: 0
  golden_cl: null
  golden_cl_lwstomer: lwgpu_tu104_amodel_hsmb
  max_time: 24H
  rules_cl: null
  storage: 50G
  task: lwgpu_tu104_turing_amodel_hsmb_regress_sw
lwmobile:
  enabled: 0
  golden_cl: null
  golden_cl_lwstomer: lwmobile_hsmb
  max_time: 24H
  rules_cl: null
  storage: 60G
  task: lwmobile_hsmb_regress_sw
lwmobile_t234:
  enabled: 1
  golden_cl: 60346082
  golden_cl_lwstomer: lwmobile_t234_hsmb
  max_time: 24H
  rules_cl: 60345201
  storage: 45000
  task: lwmobile_t234_hsmb_regress_sw
lwmobile_t239:
  enabled: 1
  golden_cl: 60377641
  golden_cl_lwstomer: lwmobile_t239_hsmb
  max_time: 24H
  rules_cl: 60370687
  storage: 28000
  task: lwmobile_t239_hsmb_regress_sw
