# ===================================================
# restrict_task.pl configuration file 
# ===================================================

default:
    review:
        reviewer: dswoboda
        cc: none
        describe: summary
        maxDescribeSize: 1000000 
        reviewTestBundles: No
        reviewMergedTestBundles: Yes
        reviewHeldBundles: No
        externalTrigger: none
        showConfigPath: No
        highlightDiffs: No
        p4port: 2006
        doc: 'https://confluence.lwpu.com/display/HSMB/Restrictions+on+submits+to+chips_hw'
    approve:
        approvalReqd: Yes
        approverAuthReqd: No
        userAuthReqd: No
        lockFileReqd: No
        authApproverBypass: No
        lockFileBypass: No
        authApproverFile: null.admins
        lockFile: null.lock
        approveOnExpire: No
        approveOnBundleCompletion: No
        blackout: No
    deadline:
        expireMin: 1440
        checkApprovalMin: 15
        expireWarningMin: 120
        resetOnRequest: No
    mail:
        request: all 
        approval: all
        bypass: all
        denial: all
        priorApproval: requester,reviewer
        changeDeadline: requester,reviewer
        deadlineExpireWarning: requester,reviewer 
        deadlineExpire: requester,reviewer

restrict_test:
    review:
        reviewer: rsilkebakken
        describe: full
        reviewTestBundles: Yes
        reviewMergedTestBundles: No
        reviewHeldBundles: Yes
        showConfigPath: No
        externalTrigger: No
        highlightDiffs: Yes
    approve:
        approvalReqd: Yes
        authApproverBypass: Yes 
        approverAuthReqd: Yes
        authApproverFile: chipshw.auth 
        approveOnExpire: No
        approveOnBundleCompletion: No
        blackout: No
    deadline:
        checkApprovalMin: 2
        expireMin: 60
    mail:
        request: requester
        deadlineExpireWarning: none
        deadlineExpire: none

restrict_sw:
    review:
        reviewer: chipshw-sw-approval
        cc: none
        describe: summary
        showConfigPath: No
        reviewTestBundles: No
        reviewMergedTestBundles: No
    approve:
        approvalReqd: Yes
        authApproverBypass: Yes 
        approverAuthReqd: No 
        authApproverFile: chipshw.auth 
        approveOnExpire: No
        approveOnBundleCompletion: No
    deadline:
        expireMin: 1440 
        resetOnRequest: No
    mail:
        request: all
        approval: all
        bypass: all
        denial: all
