<style type="text/css">
dt { font-weight: bold; }
h1 {
  border-bottom: 2px solid #000;
}
h2 {
  border-bottom: 4px solid #55ccdd;
  display: inline-block;
}

h3 {
  border-left: 4px solid #ff9900;
  padding-left: 10px;
  display: inline-block;
}
</style>
