Language: Cpp
BasedOnStyle:  LLVM
ColumnLimit: 140
IndentWidth: 4
UseTab: false

BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Custom

AlwaysBreakTemplateDeclarations: true

ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: true

AlignConselwtiveAssignments: true
AlignConselwtiveMacros: true
AlignEscapedNewlines: Right
AlignTrailingComments: true
AlignConselwtiveDeclarations: false
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: true
ColumnLimit: 110
AlwaysBreakBeforeMultilineStrings: true
IndentPPDirectives: AfterHash
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
UseTab: Never
ReflowComments: false
SortIncludes: true
